.service-row {
    height: calc(100vh-68px);
    background-image: url("/public/images/service1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --boxshadow: 5px 5px 9px 1px grey;
    --color: rgb(154, 78, 12);
}

.service-row {
    height: 100vh;
}

.service {
    font-size: 3rem;
    color: maroon;
    animation-name: margi;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.ServiceRow {
    margin: 20px 0px;
    padding: 20px 10px;
}

.servc {
    padding: 20px 0px;
    margin-top: 20px;
    background-color: rgb(231, 23, 23);
    box-shadow: var(--boxshadow);
    border-radius: 5px;
    color: white;
    transition: all ease 300ms;
}

.ServColm {
    box-shadow: var(--boxshadow);
    padding: 40px 0px;
    background-color: rgb(255, 216, 169);
    border-radius: 5px;
}

.servc:hover {
    background-color: rgb(255, 0, 60);
    border-radius: 10px;
}