.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul {
    margin: auto 0;
}

.co {
    background-color: black;
    padding: 20px;
}

.nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    margin: 0 20px;
}

.footcol {
    padding: 20px 0;
}

.signature {
    font-size: 1rem;
    color: green;
    text-decoration: underline green 1px;
}

.nav ul li::after {
    transition: all ease 1s;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scale(0);
}

.nav ul li::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scale(0);
    transition: all ease 1s;
}

.nav ul li:hover::after,
.nav ul li:hover::before {
    transform: scale(1);
}