@keyframes margi {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(0px);
    }
}

:root {
    --font: 'Cinzel Decorative', cursive;
}

* {
    font-family: var(--font);
}

::selection {
    background-color: rgb(13, 89, 181);
    color: rgb(24, 20, 20);
}